# Range

### Estrutura:
- range(tamanho)

ou 

- range(inicio, fim)

ou 

- range(inicio, fim, passo)

In [2]:
#uso mais comum no for:
produtos = ['arroz', 'feijao', 'macarrão', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]

for i in range(5):
    print('{}: {} unidades em estoque '.format(produtos[i], estoque[i]))

arroz: 50 unidades em estoque
feijao: 100 unidades em estoque
macarrão: 20 unidades em estoque
atum: 5 unidades em estoque
azeite: 80 unidades em estoque

In [3]:
#range com inicio e fim
#o 10 é o excludente
print (range(1,10))

#vamos olhar no for para entender
for i in range(1,10): 
    print(i)

range(1, 10)
1
2
3
4
5
6
7
8
9

# 
1. Classe A: 10% melhor
2. Classe B: 80% mantém / busca melhorar
3. Classe C: 10% pior

Quem são os funcionário casse B?

In [6]:
funcionarios = [ 'Maria', 'José', 'Antônio', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisco José', 'Maria Manoela', 'Andre', 'Fabio', 'Edson', 'Miguel', 'Veronica', 'Sonia', 'Edson', 'Fabiana']
vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]

print('Funcionários Classe B')
for i in range(2, 18):
    print('Funcionario: {} vendeu {} unidades.'.format(funcionarios[i], vendas[i]))

Funcionários Classe B
Funcionario: Antônio vendeu 1500 unidades.
Funcionario: Francisco vendeu 1200 unidades.
Funcionario: Ana vendeu 1111 unidades.
Funcionario: Luiz vendeu 1100 unidades.
Funcionario: Paulo vendeu 999 unidades.
Funcionario: Carlos vendeu 900 unidades.
Funcionario: Manoel vendeu 880 unidades.
Funcionario: Pedro vendeu 870 unidades.
Funcionario: Francisco José vendeu 800 unidades.
Funcionario: Maria Manoela vendeu 800 unidades.
Funcionario: Andre vendeu 450 unidades.
Funcionario: Fabio vendeu 400 unidades.
Funcionario: Edson vendeu 300 unidades.
Funcionario: Miguel vendeu 300 unidades.
Funcionario: Veronica vendeu 120 unidades.
Funcionario: Sonia vendeu 90 unidades.

In [9]:
#range com passo
print(range(0, 10, 2))

for i in range(0, 1000, 10):
    print(i)

range(0, 10, 2)
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990