## Importando um Dataset com Pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [3]:
arquivo = 'Arquivos/salaries.csv'

In [4]:
df = pd.read_csv(arquivo)

In [5]:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"GARCIA, CHRISTOPHER A",CLERK - BD OF ELECTIONS,BOARD OF ELECTION COMMISSIONERS,F,SALARY,NaN,34176.0,NaN
1,"SAMAYOA, HUGO A",WARD SUPERINTENDENT,DEPARTMENT OF STREETS AND SANITATION,F,SALARY,NaN,86640.0,NaN
2,"HARRISON, LETECHIA",SR PROCUREMENT SPECIALIST,DEPARTMENT OF PROCUREMENT SERVICES,F,SALARY,NaN,90660.0,NaN
3,"PUEBLA, SANDRA",ALDERMANIC AIDE,CITY COUNCIL,P,HOURLY,20.0,NaN,36.80
4,"GONZALEZ, MICHAEL A",POOL MOTOR TRUCK DRIVER,DEPARTMENT OF STREETS AND SANITATION,F,HOURLY,40.0,NaN,45.98

In [10]:
df['Job Titles'].value_counts()

POLICE OFFICER                            8408
FIREFIGHTER-EMT                           1586
SERGEANT                                  1282
POLICE OFFICER (ASSIGNED AS DETECTIVE)    1098
POOL MOTOR TRUCK DRIVER                   1041
                                          ...
ENVIRONMENTAL HEALTH & SAFETY COORD          1
HELP DESK SUPERVISOR - EXCLUDED              1
DIR OF WORKERS COMPENSATION                  1
CHIEF WATER CHEMIST                          1
COORD OF COMMUNITY SERVICES-CFD              1
Name: Job Titles, Length: 1124, dtype: int64