In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.4'

In [4]:
arquivo = 'arquivos/servidores_2024.csv'

In [5]:
df = pd.read_csv(arquivo)

# Salários portal da transparência do Estado do Ceará

In [6]:
df.head(5)

,NOME,ORGAO,CARGO,SITUACAO,SALARIO BASE,DESCONTO,SALARIO BRUTO,EMPRESTIMOS,SALARIO LIQUIDO,IR
0,ANTONIO SERGIO BELTRAO MAFRA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,2773.43,0.00,2773.43,11898.16,9124.73,0.0
1,CARLOS EDUARDO GUIMARAES LOPES ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,20301.61,0.00,20301.61,33601.65,13300.04,0.0
2,ANASTACIA DA SILVA SANTOS ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,10786.93,0.00,10786.93,28351.18,17564.25,0.0
3,ANTONIO MARCONI LEMOS DA SILVA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,24345.75,10654.19,13691.56,50371.88,26026.13,0.0
4,EMERSON CARVALHO DE LIMA ...,CGE,AUDITOR DE CONTROLE INTERNO ...,Ativo,12982.89,0.00,12982.89,35614.30,22631.41,0.0