In [5]:
import pandas as pd


dados  =  [[1,'Elias', 'SUPPORT TI N1', 3000], [2,'Teo', 'SUPPORT TI N2', 3800], [3,'Fanny', 'SUPPORT TI N1', 3000], [4,'David', 'ANALISTA DE DADOS', 5000]]

DataFramePandas = pd.DataFrame(dados, columns = ['ID', 'NAME', 'CARGO', 'SALARIO R$'])

In [6]:
DataFramePandas.head()

   ID   NAME              CARGO  SALARIO R$
0   1  Elias      SUPPORT TI N1        3000
1   2    Teo      SUPPORT TI N2        3800
2   3  Fanny      SUPPORT TI N1        3000
3   4  David  ANALISTA DE DADOS        5000

In [3]:
dados.()

AttributeError: 'list' object has no attribute 'display'